# Logs
client/logs
*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

client/node_modules
client/dist
client/dist-ssr
client/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Server
server/.phpunit.cache
server/node_modules
server/public/build
server/public/hot
server/public/storage
server/storage/*.key
server/vendor
server/.env
server/.env.backup
server/.env.production
server/.phpunit.result.cache
server/Homestead.json
server/Homestead.yaml
server/auth.json
server/npm-debug.log
server/yarn-error.log
server/.fleet
server/.idea
server/.vscode