/*TextInput*/
.textInput {
    position: relative;
    color: #d4d4d4;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 40px;
    border-radius: 15px;
    z-index: 20;
}

.textAreaInput {
    position: relative;
    color: #d4d4d4;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px;
    border-radius: 15px;
    z-index: 20;
    min-height: 150px;
}

.textInput-focus-bg {
    border-radius: 15px;
}

.textInput~.textInput-focus-bg,
.textAreaInput~.textInput-focus-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: transparent;
    transition: 0.4s;
    z-index: -1;
}

.textInput:focus~.textInput-focus-bg,
.has-content.textInput~.textInput-focus-bg,
.has-content.textInput~.textInput~div>i,
.has-content.textInput~.textInput~div>img {
    transition: 0.4s;
    width: 100%;
    background-color: var(--main-blue);
}


.textInput~label {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 10px;
    color: #c9c9c9;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.textAreaInput~label {
    position: absolute;
    width: 100%;
    top: 10px;
    color: #c9c9c9;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.textInput~span {
    position: absolute;
    left: 0;
    padding-left: 45px;
    width: 100%;
    padding-top: 9px;
    color: #6b6b6b;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.textAreaInput~span {
    position: absolute;
    left: 0;
    padding-left: 12px;
    width: 100%;
    padding-top: 9px;
    color: #c9c9c9;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.textInput~div{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    background: var(--white)2e;
    border-radius: 15px 0 0 15px;
}
.textInput~div>i {
    position: absolute;
    left: 10px;
    width: 100%;
    height: 100%;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    padding-top: 37%;
    z-index: 20;
}

.textInput~div>img {
    position: absolute;
    left: 14px;
    width: 100%;
    top: 13px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
    z-index: 20;
}

.textInput:focus~label,
.has-content.textInput~label,
.textAreaInput:focus~label,
.has-content.textAreaInput~label {
    top: -18px;
    left: 0;
    font-size: 12px;
    color: #333;
    transition: 0.3s;
}

.textInput~.textInput-focus-bg:before,
.textInput~.textInput-focus-bg:after,
.textAreaInput~.textInput-focus-bg:before,
.textAreaInput~.textInput-focus-bg:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    background-color: #ededed;
    transition: 0.3s;
    z-index: -1;
}

.textInput~.textInput-focus-bg:after,
.textAreaInput~.textInput-focus-bg:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0;
}

.textInput~label,
.textAreaInput~label {
    position: absolute;
    left: 45px;
    width: 100%;
    top: 10px;
    color: #aaa;
    transition: 0.3s;
    z-index: -1;
    letter-spacing: 0.5px;
}

.textInput:focus~label,
.has-content.textInput~label,
.textAreaInput:focus~label,
.has-content.textAreaInput~label{
    top: -18px;
    left: 0;
    font-size: 12px;
    color: var(--white);
    transition: 0.3s;
}